html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "red";
}

#root,
#error,
#elder-cards-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-robot {
  position: relative;
  background-image: url(/error-boundary.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.error-robot:before {
  position: absolute;
  content: "Welp!";
  top: 10rem;
  left: 10rem;
  font-size: 4rem;
  font-family: 'Segoe UI Light';
}